.conversation-card.mdl-card, .sent, .message {
    background: #202B30;
}

.mdl-navigation, .mdl-layout__drawer, .mdl-layout__content, .send-bar-content,
.mdl-navigation-messages, .conversation-card-small.mdl-card, #compose-head, .autocomplete-result, .autocomplete-card {
    background: #29373d;
}

.compose-card, .adding-card, .edit-card {
    background: #374248;
}

.conversation-title.mdl-card__supporting-text, .mdl-color-text--grey-900,
.mdl-textfield__input, .mdl-textfield__label, .empty-text {
	  color: white;
}

body, #side-menu {
  background-color: #29373d;
}

#drawer_links .link-card {
  color: white;
  background-color: #29373d;
}

#toolbar {
  border-bottom: solid 1px #ca2100;
  background-color: #202B30;
  border-color: #202B30;
}

#toolbar-title, .mdl-card__supporting-text, .material-icons{
  color: white;
}

.autocomplete-result {
    background-color: #29373d;
    border: 1px solid #374248;
    color: white;
}

.menu_icon {
    opacity: 1;
}

.sent:after {
  border-color: #202B30 transparent;
}

.conversation-snippet.mdl-card__supporting-text, .mdl-color-text--grey-600 {
	  color: rgba(255,255,255,.77);
}

.item:hover {
	  background: #202020;
}

.click-item:hover {
	  background: #202020;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  	border-radius: 10px;
    background: #202b30;
    outline: 1px solid slategrey;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.icon_logo {
  background: url(../images/vector/pulse-dark.svg) 0 0 no-repeat;
}

.icon_scheduled_messages {
  background: url(../images/vector/scheduled_messages-dark.svg) 0 0 no-repeat;
}

.icon_conversations {
  background: url(../images/vector/inbox-dark.svg) 0 0 no-repeat;
}

.icon_archive {
  background: url(../images/vector/archive-dark.svg) 0 0 no-repeat;
}

.icon_blacklist {
  background: url(../images/vector/blacklist-dark.svg) 0 0 no-repeat;
}

.icon_menu_toggle {
    background: url(../images/vector/menu_toggle-dark.svg) 0 0 no-repeat;
}
